#page-id { display: none; }
body {background-color: black;}
nav a {
  text-align: center !important;
}
h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,button {font-family: "Montserrat", sans-serif}
p.w3-opacity {text-align: justify;}
.w3-sidebar {width: 200px;}
.w3-main {margin-left: 200px;}
img.w3-border {padding: 8px;}
iframe.w3-border {padding: 8px;}
ol.spaced li:not(:last-child) {
  margin-bottom: 10px;
}
ol.bold {
  font-weight: bold;
}
ol.bold span {
  font-weight: normal;
}
.card {
  width: 332px; 
  padding: 16px;
}
.grow {transition: all .15s ease-in-out;}
.grow:hover {transform: scale(1.1);}
.picture-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.picture-grid p {
  text-align: center;
}
#content {
  padding: 76px 8px 0px 8px;
  color: white;
}
@media screen and (max-width: 992px) {
  #content {max-width: 100%;}
}
@media screen and (min-width: 993px) {
  #content {max-width: 80%;}
}
footer {
  padding: 32px 16px 0px 16px;
  text-align: center;
  color: white;
}